<template>
  <div class="columns is-centered login">
    <div class="card">
      <ValidationObserver ref="form" v-slot="{ handleSubmit }">
        <form class="card-content" @submit.prevent="handleSubmit(onSubmit)">
          <div class="content">
            <ValidationProvider vid="login" rules="required|email" v-slot="{ errors, valid }">
              <b-field
                label="Логин(email)"
                :type="{'is-danger': errors[0], 'is-success': valid}"
                :message="errors[0]"
              >
                <b-input type="email" v-model="form.login" name="login"></b-input>
              </b-field>
            </ValidationProvider>
            <ValidationProvider vid="password" rules="required" v-slot="{ errors, valid }">
              <b-field
                label="Пароль"
                :type="{'is-danger': errors[0], 'is-success': valid}"
                :message="errors[0]"
              >
                <b-input type="password" v-model="form.password" name="password"></b-input>
              </b-field>
            </ValidationProvider>
          </div>
          <button class="button is-primary" type="submit">Войти</button>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>
<script>
import axios from 'axios';

import Vue from 'vue';
import * as VeeValidate from 'vee-validate';
Vue.use(VeeValidate);
import { ValidationProvider, ValidationObserver } from 'vee-validate';
import { mapMutations, mapGetters } from 'vuex';
import api from '../config';

export default {
  name: "Auth",
  components: {
    ValidationProvider,
    ValidationObserver
  },
  computed: mapGetters(['form']),
  methods: {
    ...mapMutations(["setAuth"]),
    onSubmit() {
      axios.get(`${api.jsonServer}/users`).then(response => {
        const errors = { login: '', password: '' };
        const user = response.data.find(user => {
          errors.login = !(user.login === this.form.login);
          errors.password = !(`${user.password}` === this.form.password);
          if (
            user.login === this.form.login &&
            `${user.password}` === this.form.password
          ) {
            return user;
          }
        });

        // Изначально планировал сделать валидацию на верность введенных данных, и добавить кнопку Войти, как аноним
        // но отказался в пользу простоты и не явного указания на необходимые валидаторы формы
        // if (!user) {
        //   this.$refs.form.setErrors({
        //     login: errors.login ? ['Данные являются недействительными'] : '',
        //     password: !(errors.login && errors.password)
        //       ? ['Данные являются недействительными']
        //       : ''
        //   });
        //   return;
        // }

        if (user) {
          this.setAuth(user);
        } else {
          this.setAuth({
            login: 'Аноним',
            role: ''
          })
        }
        
        this.$router.push('/board');
      });
    }
  }
};
</script>
<style scoped>
.login {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  align-items: center;
}
</style>