<template>
  <div>
    <b-navbar type="is-info">
      <template slot="end">
        <b-navbar-item tag="div" style="cursor: pointer;">
          <b-tooltip
            v-if="user.role == 'writer'"
            label="Создать пост"
            type="is-white"
            position="is-bottom"
          >
            <b-button type="is-info" icon-right="plus" @click="create" />
          </b-tooltip>
          <!-- </b-navbar-item>
          <b-navbar-item tag="div">-->
          <b-navbar-dropdown v-bind:label="user.login">
            <b-button class="is-white" @click="exit">Выход</b-button>
          </b-navbar-dropdown>
        </b-navbar-item>
      </template>
    </b-navbar>
    <div class="posts">
      <div class="columns is-centered" v-for="post in posts" v-bind:key="post.id">
        <Post v-bind:post="post" v-bind:role="user"></Post>
      </div>
    </div>
    <footer class="footer">
      <b-pagination
        :total="pagination.total"
        :current.sync="pagination.current"
        :per-page="pagination.limit"
        :order="'is-centered'"
        @change="pageChange"
      >

      </b-pagination>
    </footer>
  </div>
</template>
<script>
import Post from "./Post";
import { mapGetters, mapActions, mapMutations } from "vuex";

export default {
  name: "Board",
  components: { Post },
  computed: mapGetters(["user", "posts", "pagination"]),
  methods: {
    ...mapActions(["getPosts", "deletePost"]),
    ...mapMutations(["getPost", "clearForm"]),
    create() {
      this.getPost({
        title: "",
        description: "",
        userId: null,
        createdAt: "",
        updateAt: "",
        claps: 0
      });
      this.$router.push({ path: `/post/${"new"}` });
    },
    exit() {
      this.clearForm({ login: "", password: "" });
      this.$router.push("/auth");
    },
    pageChange(page) {
        this.getPosts({
        ...this.pagination,
        page: page,
        current: page
    });
    }
  },
  async mounted() {
    this.getPosts({
        ...this.pagination,
        page: this.pagination.current
    });
  }
};
</script>
<style scoped>
.columns {
  margin-top: 0.75rem;
}
.posts {
  display: block;
  overflow-y: overlay;
  overflow-x: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 60px;
  top: 56px;
}

.footer {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  height: 60px;
  padding: 1rem;
}
</style>