<template>
  <div class="columns is-centered" style="padding: 24px;">
    <div class="card">
      <ValidationObserver ref="form" v-slot="{ handleSubmit }">
        <form class="card-content" @submit.prevent="handleSubmit(onSubmit)">
          <div class="content">
            <ValidationProvider vid="title" rules="required" v-slot="{ errors }">
              <b-field label="Заголовок" :type="{'is-danger': errors[0]}" :message="errors[0]">
                <b-input type="text" v-model="post.title" name="title"></b-input>
              </b-field>
            </ValidationProvider>
            <ValidationProvider vid="description" rules="required" v-slot="{ errors}">
              <b-field label="Текст" :type="{'is-danger': errors[0]}" :message="errors[0]">
                <b-input type="textarea" v-model="post.description" name="description"></b-input>
              </b-field>
            </ValidationProvider>
          </div>
          <div class="level">
            <div class="level-left">
              <b-button class="button" @click="back()" type="is-warning">Назад</b-button>
            </div>
            <div class="level-right">
              <button class="button is-primary" v-if="!type" type="submit">Сохранить</button>
              <button class="button is-primary" v-if="type" type="submit">Создать</button>
            </div>
          </div>
        </form>
      </ValidationObserver>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import * as VeeValidate from "vee-validate";
Vue.use(VeeValidate);
import { ValidationProvider, ValidationObserver } from "vee-validate";
import { mapActions, mapGetters } from "vuex";
export default {
  name: "FormPost",
  components: {
    ValidationProvider,
    ValidationObserver
  },
  computed: mapGetters(["user", 'post']),
  props: {
    type: Boolean
  },
  created: function() {
    this.type = this.$router.currentRoute.params.id === "new" ? true : false;
  },
  methods: {
    ...mapActions(["createPost", "updatePost", "deletePost", "getPost"]),
    onSubmit() {
      switch (this.$router.currentRoute.params.id) {
        case "new":
          this.createPost({
            title: this.post.title,
            description: this.post.description,
            userId: this.user.id
          }).then(() => {
            this.$router.push("/board");
          });
          break;
        default:
          this.updatePost({flag: true, ...this.post}).then(
              () => this.$router.push("/board")
          );
          break;
      }
    },
    back() {
      this.$router.push("/board");
    }
  },
  async mounted() {
    if (!this.type) {
      this.getPost({id: this.$router.currentRoute.params.id});
    }
  }
};
</script>

<style scoped>
.card {
  width: 40%;
}
</style>