<template>
  <div class="card">
    <div class="hero">
      <span class="hero-body">{{post.title}}</span>
    </div>
    <div class="card-content">{{post.description}}</div>
    <div class="footer">
      <div class="level">
        <div class="level-left">
          <div>{{post.updateAt | formatDate}}</div>
        </div>
        <div class="level-right buttons">
          <b-button
            v-if="role.role == 'reader'"
            class="button-grey icon-blue is-medium"
            icon-left="sign-language"
            @click="claps"
          >
            <span class="text-button">{{post.claps}}</span>
          </b-button>
          <b-button
            v-if="role.role == 'writer'"
            class="button-grey icon-blue is-small"
            icon-left="edit"
            
            @click="edit"
          >
            <span class="text-button">Изменить</span>
          </b-button>
          <!-- reader -->
          <b-button
            v-if="role.role == 'writer'"
            class="button-grey icon-blue is-small"
            icon-left="trash-alt"
            @click="del"
          >
            <span class="text-button">Удалить</span>
          </b-button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
export default {
  name: 'Post',
  props: {
    post: Object,
    role: Object
  },
  methods: {
      ...mapActions(['updatePost', 'changePost', 'deletePost']),
      claps() {
          this.updatePost({flag: false, ...this.post})
      },
      edit() {
        this.$router.push({path: `/post/${this.post.id}`})
      },
      del() {
          this.deletePost(this.post)
      }

  }
};
</script>

<style scoped>
.card {
  width: 35%;
}

.button-grey {
  background-color: #ececec;
  border: none;
}

.icon-blue {
  color: #167df0;
}

.level-left {
  margin-top: auto;
  color: #808080;
  font-size: 12px;
}

.text-button {
  color: black;
}

.card-content {
  padding: 1rem;
  font-size: 14px;
}

.footer {
  padding: 1rem;
}

.hero-body {
  padding: 1rem 1rem;
  font-size: 18px;
}
</style>